// Use the params to define reference files, directories, and CLI options
// The $projectDir variable always resolves to the path corresponding to 
// where your script.nf file is located. In our case, that will be the
// working directory of the repo you cloned. This allows us to avoid having
// to hardcode certain paths. 
nextflow.enable.types = true

params {

    // Reads and references
    reads = "${projectDir}/bac_samples.csv"

    // Directories
    outdir = "${projectDir}/results/"

    ref_genome = "GCF_000172635.2"

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }
                
                withLabel: process_high {
                    cpus = 16
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

// Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
// For this first project, leave all of these unedited
executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
resume = true